/* Element Selector */
h1 {
  color: blue;
  font-size: 24px;
}

/* Class Selector */
.paragraph {
  font-style: italic;
}

/* ID Selector */
#main-heading {
  text-align: center;
}

/* Attribute Selector */
a[href^="https://"]
{
  color: red;
}

/* Pseudo-class Selectors */
ul li:first-child {
  font-weight: bold;
}

ul li:last-child {
  font-style: italic;
}

.container > p {
  background-color: yellow;
}
